@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e9fbe5; /* or any background you want */
  color: #000 !important;
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
  color: #000; /* Medium green for titles */
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: #c8e6c9; /* Pale green question background */
  color: #000; /* Dark green text */
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
  color: #000; /* Medium green icon */
}

.active,
.accordion:hover {
  background-color: #a5d6a7; /* Slightly darker green on hover/active */
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: #e0f2f1; /* Very light teal for answer background */
  overflow: hidden;
  display: none;
}
.pannel p {
  color: 000; /* Medium green for answers */
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid #66bb6a; /* Green border */
  margin: 10px 0;
}
.faq.active {
  border: 2px solid #388e3c; /* Thicker border when active */
}
